
// // ***********************************
// // FONTS
// // ***********************************

@font-face{
  font-family: "squaredFont";
  src: url('./fonts/player_1_up/player1up.ttf')
}

@font-face{
  font-family: "squaredFontBold";
  src: url('./fonts/player_1_up/player1upboldital.ttf')
}

@font-face{
  font-family: "gameboy";
  src: url('./fonts/jackster-productions_pokemon-gb/Pokemon_GB.ttf')
}


// // ***********************************
// // Variables
// // ***********************************

//SIZE
$width: 700px;
$height: 600px;
$playerHeight: $height*.70/2;
$optionHeight: $height*.25;
$statusWidth: $width*6;

//COLORS
$aged: #FEFEF7;
$agedBlack: #414141;
$blue: #4D7DB3;
$red: #8F5350;

// // ***********************************
// // STYLESHEETS
// // ***********************************

@import "battle";
@import "selectPlayerScreen";


// // ***********************************
// // Base Styles
// // ***********************************
.mainGame{
  width: $width;
  height: $height;
  margin: 0 auto;
  background:$aged;
}

.hide{
  display: none;
}
