h2{
  font-size: 1.5rem;
}

// .card:hover{
//   background: yellow;
//   width: 250px;
//   height: 333px;
//   transition: width .5s, height .5s, background-color .5s, transform .5s;
// }

.cards{

  display: flex;
  justify-content: center;

  
  .card{

    background: red;
    width: 170px;
    height: 225px;
    font-size: .5rem;
    margin: 5px;
    border-radius: 15px;
  

    h4{


    }//h4
    
    .playerHealth{


    }//.playerHealth
    
    .playerMagic{


    }//..playerMagic

    .char{
      max-width: 170px;
      max-height: 50px;
      img{
        width: 60%;
      }
    }

    ul{

      span{


      }//span

      li{


      }//li


    }//ul

  }//.card
}//.cards