h2{
  font-size: 1.5rem;
}

.card:hover{
  background: yellow;
  width: 250px;
  height: 333px;
  transition: width .5s, height .5s, background-color .5s, transform .5s;
}

.cards{

  background: red;
  width: 150px;
  height: 200px;
  
  .card{
    

    h4{


    }//h4
    
    .playerHealth{


    }//.playerHealth
    
    .playerMagic{


    }//..playerMagic

    ul{

      span{


      }//span

      li{


      }//li


    }//ul

  }//.card
}//.cards