h2{
  font-size: 1.5rem;
}



.card:hover{
  background: yellow;
  width: 250px;
  height: 333px;
  transition: width .5s, height .5s, background-color .5s, transform .5s;
}//.card:hover

.characterSelection{
  padding: 10px;

  h2{
    height: $height *.1;
    margin: 0;
    padding-top: 10px;
  }

  .slideShow{

    .prevCard{

    }

    .playerOneOptions{
      height: $height * .45
    }

    .playerTwoOptions{
      height: $height * .45
    }

    .playerOneOptions, .playerTwoOptions{


      h3{
        font-size: 1rem;
        margin: 0;
      }

      .playerCards{

        display: flex;
        justify-content: center;
        flex-wrap: wrap;


        .card{
          width: 170px;
          height: 225px;
          font-size: .5rem;
          margin: 5px;
          border-radius: 15px;
          border: double 2px;
          padding: 5px 10px;
          display: flex;
          justify-content: center;
          flex-direction: column;



        

          h4{


          }//h4
          
          .playerHealth{


          }//.playerHealth
          
          .playerMagic{


          }//..playerMagic

          .char{
            max-width: 170px;
            min-height: 50px;
            display: flex;
            justify-content: center;
            border: 3px yellow solid;
            
            img{
              width: 50%;
              height: auto;
            }
          }

          ul{
            text-align: center;
            list-style: none;
            padding: 0;
            span{
              font-size: .75rem;

            }//span

            li{


            }//li


          }//ul

        }//.card
        .current{
          display: block;
          background:green;
        }
        
      }//.playercards


    }//.playerOneOptions, .playerTwoOptions


    .nextCard{

    }
  }



  .playerOneOptions{
    height: $height * .45
  }


  p{
    margin: 0;
  }

  .startBattle{
    float: right;
    position: fixed;
    top: 0;
    left: 600px; 
    background: red;
  }
}


