/*
Error: Undefined variable: "$agedBlack".
        on line 17 of /Users/Samantha/Documents/accessCodeProjects/pokemon_lite/app/scss/battle.scss

12:   flex-direction: column;
13:   margin: 0;
14:   font-family: "gameboy";
15:   font-size: 2.25rem;
16:   background:black;
17:   color: $agedBlack;
18: }
19: 
20: .mainGame{
21: 
22:   .gameScreen{

Backtrace:
/Users/Samantha/Documents/accessCodeProjects/pokemon_lite/app/scss/battle.scss:17
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/script/tree/node.rb:50:in `perform'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:395:in `visit_prop'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/stack.rb:79:in `block in with_base'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/stack.rb:79:in `with_base'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/stack.rb:79:in `block in with_base'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/stack.rb:79:in `with_base'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/tree/root_node.rb:20:in `render'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/engine.rb:278:in `render'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Samantha/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Samantha/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/Samantha/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/Samantha/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/Samantha/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/Samantha/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/Samantha/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/Samantha/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/Samantha/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/Samantha/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/Samantha/.rvm/gems/ruby-2.2.1/bin/compass:22:in `load'
/Users/Samantha/.rvm/gems/ruby-2.2.1/bin/compass:22:in `<main>'
/Users/Samantha/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `eval'
/Users/Samantha/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$agedBlack\".\A         on line 17 of /Users/Samantha/Documents/accessCodeProjects/pokemon_lite/app/scss/battle.scss\A \A 12:   flex-direction: column;\A 13:   margin: 0;\A 14:   font-family: \"gameboy\";\A 15:   font-size: 2.25rem;\A 16:   background:black;\A 17:   color: $agedBlack;\A 18: }\A 19: \A 20: .mainGame{\A 21: \A 22:   .gameScreen{"; }
