@font-face {
  font-family: "squaredFont";
  src: url("/fonts/player_1_up/player1up.ttf");
}
@font-face {
  font-family: "squaredFontBold";
  src: url("/fonts/player_1_up/player1upboldital.ttf");
}
@font-face {
  font-family: "gameboy";
  src: url("/fonts/jackster-productions_pokemon-gb/Pokemon_GB.ttf");
}
* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0;
  font-family: "gameboy";
  font-size: 2.25rem;
  background: black;
  color: #414141;
}

.mainGame {
  /***********Game options************/
  /***********Game options************/
}
.mainGame .gameScreen {
  width: 700px;
  height: 420px;
  background: #FEFEF7;
  /***********PLAYER ONE************/
  /***********PLAYER ONE************/
  /***********PLAYER TWO************/
  /***********PLAYER TWO************/
}
.mainGame .gameScreen .playerOne {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 700px;
  height: 202.5px;
  margin-bottom: 22.5px;
}
.mainGame .gameScreen .playerOne .playerOneImg {
  min-width: 280px;
  height: 210px;
}
.mainGame .gameScreen .playerOne .playerOneImg img {
  width: 210px;
  height: auto;
  z-index: -1;
  position: relative;
  left: 20px;
  top: 20px;
  z-index: 1;
}
.mainGame .gameScreen .playerOne .playerOneInfo {
  width: 4200px;
  height: 210px;
  /***********PLAYER ONE STATUS BAR ************/
  /***********PLAYER ONE STATUS BAR ************/
}
.mainGame .gameScreen .playerOne .playerOneInfo .playerOnestatus {
  padding-left: 42px;
  height: 105px;
}
.mainGame .gameScreen .playerOne .playerOneInfo .playerOnestatus .playerOneName {
  margin: 0;
  padding: 10px 0 0 0;
}
.mainGame .gameScreen .playerOne .playerOneInfo .playerOnestatus p {
  margin: 0;
  position: relative;
  font-size: 1.75rem;
  padding-right: 100px;
  text-align: right;
}
.mainGame .gameScreen .playerOne .playerOneInfo .playerOnestatus p .fa-venus, .mainGame .gameScreen .playerOne .playerOneInfo .playerOnestatus p .fa-mars {
  font-size: 1.5rem;
  padding-left: 10px;
}
.mainGame .gameScreen .playerOne .playerOneInfo .playerOnestatus p .fa-venus {
  display: none;
}
.mainGame .gameScreen .playerOne .playerOneInfo .playerOnestatus p .fa-mars {
  transform: rotate(-45deg);
}
.mainGame .gameScreen .playerOne .playerOneInfo .statusOne {
  background-image: url("/images/player1_piece.png");
  background-repeat: no-repeat;
  position: relative;
  width: 420px;
  height: 105px;
  bottom: 40px;
  left: 30px;
}
.mainGame .gameScreen .playerOne .playerOneInfo .statusOne .healthPoints {
  background: #414141;
  font-size: 1rem;
  color: #FEFEF7;
  display: inline-block;
  height: 25px;
  width: 293px;
  padding: 6px 15px 0 6px;
  position: relative;
  top: 5px;
  left: 30px;
}
.mainGame .gameScreen .playerOne .playerOneInfo .statusOne .healthPoints .statusbarOneOuter {
  position: absolute;
  background: #FEFEF7;
  width: 230px;
  height: 20px;
  left: 50px;
  top: 0px;
  display: inline-block;
}
.mainGame .gameScreen .playerOne .playerOneInfo .statusOne .healthPoints .statusbarOneOuter .statusBarOne {
  position: absolute;
  background: #8F5350;
  width: 230px;
  height: 10px;
  top: 5px;
}
.mainGame .gameScreen .playerOne .playerOneInfo .statusOne .statusbarOneOuterBottom {
  position: absolute;
  bottom: 8px;
  right: 60px;
  background: #FEFEF7;
  width: 400px;
  height: 40px;
  display: inline-block;
}
.mainGame .gameScreen .playerOne .playerOneInfo .statusOne .statusbarOneOuterBottom .statusBarOneBottom {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 4%;
  background: #4D7DB3;
  width: 385px;
  height: 9px;
}
.mainGame .gameScreen .playerTwo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 700px;
  height: 225px;
}
.mainGame .gameScreen .playerTwo .playerTwoImg {
  min-width: 280px;
  height: 210px;
}
.mainGame .gameScreen .playerTwo .playerTwoImg img {
  width: 280px;
  height: auto;
  z-index: 1;
  position: relative;
  left: 25px;
  top: -10px;
}
.mainGame .gameScreen .playerTwo .playerTwoInfo {
  width: 4200px;
  height: 210px;
  /***********PLAYER TWO STATUS BAR ************/
  /***********PLAYER TWO STATUS BAR ************/
}
.mainGame .gameScreen .playerTwo .playerTwoInfo .playerTwostatus {
  padding-left: 42px;
  height: 105px;
}
.mainGame .gameScreen .playerTwo .playerTwoInfo .playerTwostatus .playerTwoName {
  margin: 0;
}
.mainGame .gameScreen .playerTwo .playerTwoInfo .playerTwostatus p {
  margin: 0;
  float: right;
  padding-right: 50px;
}
.mainGame .gameScreen .playerTwo .playerTwoInfo .playerTwostatus p .fa {
  font-size: 1.5rem;
  padding-left: 10px;
}
.mainGame .gameScreen .playerTwo .playerTwoInfo .playerTwostatus p .fa-venus {
  display: none;
}
.mainGame .gameScreen .playerTwo .playerTwoInfo .playerTwostatus p .fa-mars {
  transform: rotate(-45deg);
}
.mainGame .gameScreen .playerTwo .playerTwoInfo .statusTwo {
  background-image: url("/images/player2_piece.png");
  background-repeat: no-repeat;
  position: relative;
  width: 420px;
  height: 210px;
  right: -45px;
  bottom: 35px;
}
.mainGame .gameScreen .playerTwo .playerTwoInfo .statusTwo .healthPoints {
  background: #414141;
  font-size: 1.5rem;
  color: #FEFEF7;
  display: inline-block;
  height: 30px;
  width: 70px;
  padding: 6px 15px 3px 4px;
  position: relative;
  top: -7px;
}
.mainGame .gameScreen .playerTwo .playerTwoInfo .statusTwo .statusbarTwoOuter {
  position: absolute;
  background: #FEFEF7;
  width: 250px;
  height: 15px;
  top: 5px;
  color: yellow;
  display: inline-block;
}
.mainGame .gameScreen .playerTwo .playerTwoInfo .statusTwo .statusbarTwoOuter .statusBarTwo {
  background: #8F5350;
  position: relative;
  width: 250px;
  height: 12px;
}
.mainGame .gameScreen .playerTwo .playerTwoInfo .statusTwo p {
  text-align: right;
  position: relative;
  z-index: 100;
  right: 120px;
  top: -25px;
  font-size: 2rem;
}
.mainGame .gameScreen .playerTwo .playerTwoInfo .statusTwo .statusbarTwoOuterBottom {
  position: relative;
  background: #FEFEF7;
  width: 270px;
  height: 15px;
  bottom: 55px;
  left: 50px;
}
.mainGame .gameScreen .playerTwo .playerTwoInfo .statusTwo .statusbarTwoOuterBottom .statusBarTwoBottom {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 4%;
  background: lightblue;
  width: 270px;
  height: 9px;
}
.mainGame .gameBottom {
  width: 700px;
  height: 150px;
  background: #FEFEF7;
  z-index: 10;
  position: relative;
}
.mainGame .gameBottom .mainOptions {
  position: absolute;
  top: 7px;
  right: 5px;
  left: 5px;
  width: 690px;
  height: 145px;
  border: 8px double;
  border-radius: 25px;
  background: #FEFEF7;
  z-index: -2;
}
.mainGame .gameBottom .mainOptions h4 {
  margin: 0;
  padding: 15px;
  font-size: 1.75rem;
}
.mainGame .gameBottom .mainOptions .options::before {
  position: absolute;
  left: -18px;
  top: -5px;
  content: "";
  background: #FEFEF7;
  min-width: 10px;
  border: 10px white solid;
  border-radius: 25px;
  height: 132px;
  z-index: -1;
}
.mainGame .gameBottom .mainOptions .options {
  height: 160px;
  width: 420px;
  border: 8px double;
  border-radius: 25px;
  background: #FEFEF7;
  position: absolute;
  right: -7px;
  top: -15px;
  padding: 20px 0 0 0;
}
.mainGame .gameBottom .mainOptions .options table {
  table-layout: fixed;
  margin: 0 auto;
}
.mainGame .gameBottom .mainOptions .options table tr td {
  margin: 20px;
}
.mainGame .gameBottom .mainOptions .options table tr td h6 {
  margin: 0;
  margin-left: 20px;
  padding: 0;
  font-size: 1.75rem;
  display: inline;
}
.mainGame .gameBottom .mainOptions .options table tr td .fa-caret-right {
  font-size: 2.5rem;
  height: 40px;
}
.mainGame .gameBottom .mainOptions .options table tr td .hide {
  display: none;
  min-width: 18px;
}

h2 {
  font-size: 1.5rem;
}

.card:hover {
  background: yellow;
  width: 250px;
  height: 333px;
  transition: width .5s, height .5s, background-color .5s, transform .5s;
}

.characterSelection {
  padding: 10px;
}
.characterSelection h2 {
  height: 60px;
  margin: 0;
  padding-top: 10px;
}
.characterSelection .slideShow .playerOneOptions {
  height: 270px;
}
.characterSelection .slideShow .playerTwoOptions {
  height: 270px;
}
.characterSelection .slideShow .playerOneOptions h3, .characterSelection .slideShow .playerTwoOptions h3 {
  font-size: 1rem;
  margin: 0;
}
.characterSelection .slideShow .playerOneOptions .playerCards, .characterSelection .slideShow .playerTwoOptions .playerCards {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.characterSelection .slideShow .playerOneOptions .playerCards .card, .characterSelection .slideShow .playerTwoOptions .playerCards .card {
  width: 170px;
  height: 225px;
  font-size: .5rem;
  margin: 5px;
  border-radius: 15px;
  border: double 2px;
  padding: 5px 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}
.characterSelection .slideShow .playerOneOptions .playerCards .card .char, .characterSelection .slideShow .playerTwoOptions .playerCards .card .char {
  max-width: 170px;
  min-height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  border: 3px yellow solid;
}
.characterSelection .slideShow .playerOneOptions .playerCards .card .char img, .characterSelection .slideShow .playerTwoOptions .playerCards .card .char img {
  width: 50%;
  height: auto;
}
.characterSelection .slideShow .playerOneOptions .playerCards .card ul, .characterSelection .slideShow .playerTwoOptions .playerCards .card ul {
  text-align: center;
  list-style: none;
  padding: 0;
}
.characterSelection .slideShow .playerOneOptions .playerCards .card ul span, .characterSelection .slideShow .playerTwoOptions .playerCards .card ul span {
  font-size: .75rem;
}
.characterSelection .slideShow .playerOneOptions .playerCards .current, .characterSelection .slideShow .playerTwoOptions .playerCards .current {
  display: block;
  background: green;
}
.characterSelection .playerOneOptions {
  height: 270px;
}
.characterSelection p {
  margin: 0;
}
.characterSelection .startBattle {
  float: right;
  position: fixed;
  top: 0;
  left: 600px;
  background: red;
}

.mainGame {
  width: 700px;
  height: 600px;
  margin: 0 auto;
  background: #FEFEF7;
}

.hide {
  display: none;
}
